@import "tailwindcss";

@theme{

  --color-background: #131313;
  --color-on-background: #e5e2e1;

  --color-surface: #131313;
  --color-surface-dim: #131313;
  --color-surface-bright: #393939;

  --color-surface-lowest: #0e0e0e;
  --color-surface-low: #1c1b1b;
  --color-surface-container: #201f1f;
  --color-surface-high: #2a2a2a;
  --color-surface-highest: #353534;

  --color-surface-variant: #353534;

  --color-on-surface: #e5e2e1;
  --color-on-surface-variant: #c6c5d7;

  --color-outline: #8f8fa0;
  --color-outline-variant: #454655;

  /* Discord Brand */

  --color-primary: #5865f2;
  --color-primary-light: #bec2ff;
  --color-primary-extra-light: #e1e3fc;
  --color-primary-dark: #000da4;

  --color-secondary: #00d084;
  --color-secondary-light: #43ed9e;

  --color-success: #00d084;
  --color-warning: #ffb689;
  --color-danger: #ff6b6b;
  --color-error: #ffb4ab;

   /* ==========================
     SHADOWS
  ========================== */

  --shadow-card: 0 4px 12px rgba(0,0,0,.15);
  --shadow-modal: 0 12px 32px rgba(0,0,0,.35);
}

:root{
  font-family: "Inter","sans";
}